/*---------------center navbar---------------*/
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

/*---------------center navbar---------------*/



/*---------------prevents navbar-collapse---------------*/
.navbar-collapse.collapse{
  display: block !important;
}

.navbar-nav>li, .navbar-nav{
  float: none !important;
}

.navbar-nav.navbar-right:last-child{
  margin-right: -15px !important;
}

.navbar-right{
  float: right !important;
}
/*---------------prevents navbar-collapse---------------*/



/*---------------socials---------------*/
.sociallink {
  max-width: 35px;
}

ul.social>li {
  display: inline;
  text-decoration: none;
  padding-right: none;
}

.sociallink:hover {
  cursor: pointer;
  border-top: 1px solid black;
}
/*---------------socials---------------*/



/*---------------logo---------------*/
.header{
  margin-top: 5em;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
/*---------------logo---------------*/



/*---------------product---------------*/
.product {
  border: 1px solid black;
  margin-bottom: 1.5em;
}

.details {
  margin-left: 7px;
}

.likebutton {
  padding-top: 10px;
  padding-left: 20px;;
}
/*---------------product---------------*/



/*---------------photo---------------*/
.photo {
  margin-bottom: .5em;
}
/*---------------photo---------------*/
